*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.tif
*.svg
*.svgz
*.bmp
*.xcf
*.pdf
misc/monsterfactory_bkp
.vscode
game_banner.jpg
game_box.png
/img/*.jpg
/img/game_box.png
/img/publisher.png
game_display0.jpg
game_display1.jpg
game_display2.jpg